streamlit>=1.32.0
pandas
numpy<2.0
python-dotenv
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-chroma==0.1.4
chromadb==0.5.23
sentence-transformers
opentelemetry-exporter-otlp-proto-grpc>=1.26.0
